{
	email {$ACME_EMAIL}
}

{$APP_DOMAIN} {
	encode zstd gzip
	root * /srv/tongpin-web/current
	try_files {path} {path}.html {path}/index.html /index.html
	file_server
}

{$API_DOMAIN} {
	@notification_stream path /api/notifications/stream
	handle @notification_stream {
		reverse_proxy api:{$API_PORT} {
			flush_interval -1
		}
	}

	handle {
		encode zstd gzip
		reverse_proxy api:{$API_PORT}
	}
}

{$ASSETS_DOMAIN} {
	encode zstd gzip
	reverse_proxy minio:9000
}
